.logo {
    @extend %noSelect;

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    transform: scale(0.6) translate(0, -3.4rem);

    @media ($tablet) {
        transform: scale(0.8) translate(0, -1.5rem);
    }

    @media ($laptop) {
        transform: scale(1);
    }


    & a {
        padding: 0.5rem 1rem;

        // border: 1px solid $white;
        width: 25rem;
        font-family: $titleFont;
        font-size: 10rem;
        line-height: 100%;
        color: $logoColor;
        font-weight: bold;
        transform: translate(0, 15%);
        display: block;
        background-image: linear-gradient(#baffff, #ffcece);

        // background: linear-gradient(180deg, #baffff 0%, #f4deff 40%, #ffcece 100%);
        // background-color: rgb(224, 255, 255);
        border: 0.2rem solid darken($color: $bgColor, $amount: 10%);
        border-radius: 3rem;
        text-shadow: 2px 2px 1px darken($color: $bgColor, $amount: 10%);

        // -webkit-text-stroke: 0.1rem #fff;

        &:hover {
            text-shadow: 2px 2px 1px #cf0000;
            // cursor: default;
        }
    }

    &_mob {
        // transform: translate(0, 10%);
        // transform: scale(0.6);

        @media ($laptop) {
            display: none;
        }
    }
}