.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken($color: $bgColor, $amount: 15);
    z-index: 20;
    // display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 10vh;
    overflow: auto;


    display: none;

    @media ($tablet) {
        background-color: transparentize($color: $menuTextColor, $amount: 0.1);

    }

    &__logo {
        @extend %img;
        width: 12rem;
        margin: 0 auto;

        @media ($tablet) {
            width: 15rem;
        }
    }

    &__title {
        @include h2($menuTextColor);
        line-height: 1;
    }

    &__content {
        // width: 100%;
        // height: 100%;
        width: 30rem;
        height: min-content;
        margin: auto;

        background-color: darken($color: $bgColor, $amount: 15);
        padding: 1rem;
        color: $menuTextColor;
        line-height: 1.7;
        text-align: center;

        // animation-name: scale-up-center;
        // animation-duration: 1s;
        // padding-top: 25vh;

        @media ($mobileM) {
            width: 35rem;

        }

        @media ($mobileL) {
            width: 40rem;
            // padding: 2rem;

        }

        @media ($tablet) {
            width: 60rem;
            height: min-content;
            margin: auto;
            padding: 4rem 6rem 3rem;
            text-align: left;

        }

        & p {
            // margin-bottom: 2rem;

            & span {
                display: inline-block;
                margin-top: 2rem;
            }
        }

        & a {
            display: inline-block;
            font-size: 2rem;
            color: $white;
            text-align: center;
            // text-decoration: underline;
            cursor: pointer;
            transition: 0.2s;
            // position: relative;



            &.modal__phone::before {
                content: '\f095';
                font-family: 'Font Awesome 6 Free';
                font-weight: 700;
                font-size: 2rem;
                margin-right: 0.5rem;

                @media ($mobileL) {
                    font-size: 2.3rem;
                }

                @media ($tablet) {
                    font-size: 2.6rem;
                }
            }

            &.modal__mail {
                position: relative;
                margin-left: 3rem;
                margin-bottom: 1.5rem;


                @media ($mobileM) {
                    margin-left: 4rem;

                }

                @media ($tablet) {
                    margin-left: 5rem;

                }

                &::before {
                    content: '\f0e0';
                    // font-family: 'FontAwesome'; // НЕВЕРНО - не работает font-weight. жирный конвертик
                    font-family: 'Font Awesome 6 Free';
                    font-size: 2.5rem;
                    font-weight: 400;
                    font-style: normal;
                    // margin-right: 1rem;
                    position: absolute;
                    top: 0rem;
                    left: -3rem;

                    @media ($mobileM) {
                        font-size: 2.7rem;
                        top: -0.4rem;
                        left: -4rem;
                    }

                    @media ($mobileL) {
                        font-size: 3rem;
                        top: -0.1rem;
                    }

                    @media ($tablet) {
                        font-size: 3.5rem;
                        top: -0.6rem;
                        left: -5rem;
                    }

                }
            }

            &:hover {
                color: darken($color: $menuTextColor, $amount: 15%);
                // text-decoration: none;
            }

            @media ($mobileL) {
                font-size: 2.5rem;

            }
        }
    }

    &__close {
        width: 3.5rem;
        height: 3.5rem;
        background-image: url("../icons/cross-white.svg");
        background-size: 100%;
        position: absolute;
        top: 4%;
        right: 4%;
        z-index: 2;

        &:hover {
            cursor: pointer;
            filter: saturate(3);
            transform: scale(1.1);
        }

        @media ($tablet) {

            background-image: url("../icons/cross.svg");
            width: 4rem;
            height: 4rem;
            right: 2.5%;

        }

    }
}

.scale-up-center {
    animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.scale-down-center {
    animation: scale-down-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-down-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}