.nav {
    display: none;

    @media ($laptop) {
        display: grid;
        grid-template-columns: 1fr 25rem 1fr;
        gap: 2rem;

        &-list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &__item a {
                padding: 0.5rem 1rem;
                color: $menuTextColor;
                // color: $textColor;
                // text-shadow: 0rem 0rem 0.3rem white;

                &:hover {
                    text-shadow: 0 0 0.05rem $white;
                    color: darken($color: $menuTextColor, $amount: 25%);
                }
            }
        }
    }

    &_mob {

        display: block;
        padding: 16rem 0 !important;

        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);

        overflow: auto;
        margin-top: 0;

        @media ($laptop) {
            display: none;
        }

        & .nav-list {
            display: block;
            width: 100vw;

            &__item {
                // background-color: transparentize($color: green, $amount: 0.300);
                background-color: transparentize($color: $bgColor, $amount: 0.6);
                transform: translate(-100%, 0);
                opacity: 0;
                // анимация вылетания
                animation: menu-link-show 0.3s forwards;
                // border-bottom: 0.1rem solid darken($color: green, $amount: 15%);
                border-bottom: 0.1rem solid transparentize($color: $bgColor, $amount: 0.2);

                &:hover {
                    background-color: transparentize($color: $bgColor, $amount: 0.4);
                }

                & a {
                    display: block;
                    padding: 1.5rem 1rem;
                    padding-left: 5rem;
                    color: $menuTextColor;

                    &:hover {
                        text-shadow: 0 0 0.05rem $white;
                        // color: darken($color: $textColor, $amount: 35%);
                    }
                }
            }
        }

        &__icon-close-menu {
            width: 3.5rem;
            height: 3.5rem;
            background-image: url('../icons/cross.svg');
            background-size: 100%;
            transition: 0.3s;

            position: absolute;
            top: calc(5% + 0.75rem);
            left: calc(5% + 2% + 0.75rem);
            z-index: -1;

            &:hover {
                cursor: pointer;

                filter: saturate(3);
                transform: scale(1.1);
            }

            @media ($laptop) {
                display: none;
            }
        }

        & .logo {
            position: absolute;
            top: 3rem;
            left: 50%;
            margin-left: -12.5rem;
            // transform: translate(-50%, 0);
        }

        &+.top-header__icon-menu {
            display: none !important;
        }
    }

}


@keyframes menu-link-show {
    100% {
        transform: translate(0%, 0);
        opacity: 1;
    }
}