.nav {
    display: none;

    @media ($tablet) {
        display: grid;
        grid-template-columns: 1fr 25rem 1fr;
        gap: 2rem;

        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__item a {
                padding: 0.5rem 1rem;
                color: $textColor;

                &:hover {
                    text-shadow: 0 0 0.05rem $white;
                    color: darken($color: $textColor, $amount: 35%);
                }
            }
        }
    }

}