.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // outline: 3px solid red;

    &__container-outer {
        // outline: 2px solid rgb(255, 128, 0);
        height: 100%;
        width: 100%;
        position: relative;

        overflow: hidden;

        margin-bottom: 2rem;
    }

    &__container {
        // outline: 5px solid green;

        position: relative;

        height: 100%;
        display: flex;
        transition: 2s ease-in-out;

        // will-change: transform;

    }

    &__card {
        // border: 1px solid blue;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;


        & a {
            cursor: pointer;
            color: red;
        }

        & img {
            @extend %img;

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        & span {
            color: $menuTextColor;
            text-shadow: 1px 1px 1px darken($color: $bgColor, $amount: 10%);
            -webkit-text-stroke: 0.15rem darken($color: $bgColor, $amount: 10%);
            font-size: 3rem;
            font-weight: 700;
            font-style: italic;
            // min-width: 35rem;
            width: 70%;
            text-align: center;

            @media ($tablet) {
                width: 80%;
                font-size: 4rem;
                text-shadow: 2px 2px 1px darken($color: $bgColor, $amount: 10%);
                -webkit-text-stroke: 0.2rem darken($color: $bgColor, $amount: 10%);
            }

            @media ($laptop) {
                font-size: 5rem;
                text-shadow: 3px 3px 2px darken($color: $bgColor, $amount: 10%);
                -webkit-text-stroke: 0.2rem darken($color: $bgColor, $amount: 10%);
            }
        }
    }


    &__btn {
        position: absolute;
        transform: translate(-50%, 0);
        padding: 1rem;
        width: 5rem;
        height: 8rem;
        outline: none;
        border: 0;
        background: none;
        background-size: 200%;
        background-position: center;
        background-image: url('../icons/right-arrow.svg');

        z-index: 1;

        &:hover {
            cursor: pointer;
            filter: saturate(5);
        }

        &_prev {
            top: 50%;
            left: 5%;
            transform: translate(0%, -50%) rotate(180deg);

        }

        &_next {
            top: 50%;
            right: 5%;
            transform: translate(0%, -50%);

        }
    }

    &__controls {
        width: 10rem;
        gap: 1.5rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);

        &_dot {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 1px solid transparentize($color: $textColor, $amount: 0.4);
            background-color: transparentize($color: $bgColor, $amount: 0.6);
            transition: all 0.2s linear;

            &:hover {
                background-color: transparentize($color: $bgColor, $amount: 0.4);
                cursor: pointer;
                transition: all 0.1s linear;
            }

            &.active {
                background-color: transparentize($color: $bgColor, $amount: 0.2);
                transition: all 1s linear;

            }
        }


    }


}