.slider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // outline: 3px solid red;

    &__container-outer {
        // outline: 2px solid rgb(255, 128, 0);
        height: 100%;
        width: 100%;
        position: relative;

        overflow: hidden;

        margin-bottom: 2rem;
    }

    &__container {
        // outline: 5px solid green;

        position: relative;

        height: 100%;
        display: flex;
        transition: 2s ease-in-out;

        // will-change: transform;

    }

    &__card {
        // border: 1px solid blue;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        position: relative;

        font-size: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
            cursor: pointer;
            color: red;
        }

        & img {
            @extend %img;

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }


    &__btn {
        position: absolute;
        transform: translate(-50%, 0);
        padding: 1rem;
        z-index: 1;

        &:hover {
            cursor: pointer;
        }

        &_prev {
            top: 50%;
            left: 5%;
            transform: translate(0%, -50%);

        }

        &_next {
            top: 50%;
            right: 5%;
            transform: translate(0%, -50%);

        }
    }

}