.about {
    // background-color: transparentize($color: rgb(48, 0, 0), $amount: 0.2);
    // background: url('../img/about-3.jpg') no-repeat;
    // background-color: transparentize($color: rgb(255, 185, 185), $amount: 0.2);
    // background-blend-mode: color;
    // background-color: lightcoral;
    background-color: lighten($color: $bgColor, $amount: 50);




    &__title {
        @include h1();
        font-weight: 200;
        text-shadow: 1px 1px 1px darken($color: $bgColor, $amount: 10%);
        margin: 1rem;
        text-align: center;
    }

    &__subtitle {
        @include h2();
        font-weight: 200;
        font-style: italic;
        margin: 1rem;
        text-align: center;
    }

    &__wrapper {
        padding: 3rem 0;
    }

    &__container {



        // // background-attachment: fixed; - не работает на iOS - делаем через псевдоэлемент
        // background: url('../img/about-bg.jpg') no-repeat;
        // background-size: cover;
        // background-position: center;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        // фикированный псевдоэлемент с фоном делаем Первым ребёнком родителя - т.е. ::before 
        &::before {
            content: '';
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh; // для устройств, не поддерживающих lvh
            height: var(--screenHeight);
            height: 100lvh; // Largest Viewport Height
            // // height: 100svh; // Smallest Viewport Height - визуальный баг - картинка не на весь экран.
            // // transform: scale(1.22); // можно исправить, но тогда все равно видно меньшую часть излбражения чем при 100lvh; - нет смысла.

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../img/about-bg.jpg');
        }
    }

    &__line {
        display: flex;
        flex-direction: row;
        align-items: center;

        // задаём, чтобы отображалось поверх фиксированного псевдоэлемента фоном
        position: relative;


        background-color: transparentize($color: lighten($color: $bgColor, $amount: 50), $amount: 0.4);

        @media ($laptop) {
            background-color: unset;
            height: 30rem;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .about__text-cont {
                // clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
                padding: 2rem 2rem 4rem;

                @media ($laptop) {
                    clip-path: polygon(0 0, 100% 0, calc(100% - 20rem) 100%, 0 100%);
                    padding-left: max(calc((100% - 120rem) / 2), 2vw);
                    padding-right: 20rem;


                    padding-right: 0;
                    padding-top: 7rem;
                    // text-align: right;

                    &::before {
                        content: '';
                        height: 100%;
                        width: 20rem;
                        background-color: rgb(21, 255, 0);

                        float: right;
                        clip-path: polygon(100% 0rem, 100% 0, 100% 100%, 18% 100%);
                        shape-outside: polygon(100% 0rem, 100% 0, 100% 100%, 18% 100%);
                        shape-margin: 4rem;
                    }

                    &-cutter {
                        content: '';
                        height: 100%;
                        width: 20rem;
                        // background-color: rgb(21, 255, 0);

                        float: left;
                        clip-path: polygon(0 0rem, 65% 0, 0% 100%, 0 100%);
                        shape-outside: polygon(0 0rem, 65% 0, 0% 100%, 0 100%);
                        shape-margin: 2rem;
                    }

                }

            }
        }
    }

    &__img-cont {
        display: none;

        @media ($laptop) {
            display: block;
            flex-basis: calc(50% - 0rem);
            height: 100%;

            // clip-path: polygon(0 0, 100% 0, calc(100% - 20rem) 100%, 0 100%);
        }
    }

    &__text-cont {

        // clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
        padding: 4rem 2rem 2rem;
        height: 100%;
        // text-align: center;

        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // gap: 1rem;

        @media ($laptop) {
            // text-align: center;
            padding: 5rem;

            clip-path: polygon(20rem 0, 100% 0, 100% 100%, 0 100%);
            flex-basis: calc(50% + 0rem);
            background-color: lighten($color: $bgColor, $amount: 50);
            // background-color: rgba(240, 248, 255, 0.85);
            // background-color: white;
            // background-color: transparentize($color: rgb(255, 185, 185), $amount: 0.2);
            // background-color: transparentize($color: rgb(48, 0, 0), $amount: 0.2);

            padding-right: max(calc((100% - 120rem) / 2), 2vw);
            padding-left: 20rem;

            padding-left: 0;
            padding-top: 7rem;

            &::before {
                content: '';
                height: 100%;
                width: 20rem;
                // background-color: rgb(21, 255, 0);

                float: left;
                clip-path: polygon(0 0rem, 85% 0, 18% 100%, 0 100%);
                shape-outside: polygon(0 0rem, 85% 0, 18% 100%, 0 100%);
                shape-margin: 2rem;
            }

            // &-cutter {
            //     content: '';
            //     height: 100%;
            //     width: 20rem;
            //     // background-color: rgb(0, 8, 255);

            //     float: right;
            //     clip-path: polygon(100% 0rem, 100% 0, 100% 100%, 35% 100%);
            //     shape-outside: polygon(100% 0rem, 100% 0, 100% 100%, 35% 100%);
            //     shape-margin: 0rem;
            // }


        }
    }
}