.footer {
    // height: 40rem;
    background-color: darken($color: $bgColor, $amount: 15);
    padding: 2rem 0 2rem;
    font-size: 1.7rem;
    color: $menuTextColor;

    @media ($tablet) {
        padding: 5rem 0 2rem;

    }

    &__wrapper {

        // height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // align-items: center;
        text-align: center;

        @media ($tablet) {
            text-align: left;
            height: 16rem;
            flex-wrap: wrap;
            align-items: flex-start;

        }

        @media ($laptop) {
            flex-direction: row;
            align-items: flex-start;

        }

        & .logo-cont {
            align-self: center;
            // display: none;
            margin-bottom: 2.5rem;

            @media ($tablet) {
                // display: block;
                width: 20rem;

            }

            & .logo {
                transform: scale(0.5) translate(7%, 0);

                @media ($tablet) {
                    transform: scale(0.5) translate(-50%, -65%);
                    margin-bottom: calc((-11.4rem * 0.5) + 1.5rem);
                }

                @media ($laptop) {
                    transform: scale(0.5) translate(-50%, -90%);
                    margin-bottom: calc((-11.4rem * 0.5) + 0.5rem);
                }
            }

            & .logo__text {
                font-size: 1.55rem;
                color: darken($color: $menuTextColor, $amount: 10);
                // text-align: center;
            }
        }


        & .social {

            &__phone {

                // color: $menuTextColor;
                color: $white;
                font-size: 2rem;
                font-weight: 500;
                // text-shadow: 0 0 1px $white;
                // text-decoration: underline;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    color: darken($color: $menuTextColor, $amount: 15%);
                }

                // & span {
                //     color: $white;
                // }

                &::before {
                    content: '\f095';
                    font-family: 'Font Awesome 6 Free';
                    font-weight: 700;
                    font-size: 2rem;
                    margin-right: 0.5rem;
                }
            }

            &__vk {
                display: block;
                margin-top: 1.7rem;
                color: white;
                font-size: 2.5rem;
                margin-bottom: 2.5rem;
                transition: 0.2s;

                // @media ($tablet) {
                //     margin-bottom: 0rem;

                // }

                // @media ($laptop) {
                //     margin-bottom: 0;

                // }

                &:hover {
                    color: darken($color: $menuTextColor, $amount: 15%);
                }
            }

        }

        & .mail {
            // margin: 0 auto;

            & span {
                display: inline-block;
                // font-size: 2rem;
                margin-bottom: 1.2rem;
                margin-left: 4rem;
                position: relative;
                transition: 0.2s;

                // width: max-content;


                @media ($tablet) {
                    margin-bottom: 2.3rem;
                }

                @media ($laptop) {
                    margin-bottom: 2.3rem;
                }

                &::before {
                    content: '\f0e0';
                    // font-family: 'FontAwesome'; // НЕВЕРНО - не работает font-weight. жирный конвертик
                    font-family: 'Font Awesome 6 Free';
                    font-size: 3rem;
                    font-weight: 400;
                    font-style: normal;
                    // margin-right: 1.2rem;
                    position: absolute;
                    top: -0.7rem;
                    left: -4rem;

                    // @media ($tablet) {
                    //     top: -0.7rem;
                    //     left: -4rem;
                    // }
                }
            }

            & a {
                display: block;
                color: $menuTextColor;
                color: $white;
                font-size: 2rem;
                // text-decoration: underline;
                cursor: pointer;
                transition: 0.2s;
                margin-bottom: 2.5rem;


                @media ($tablet) {
                    margin-bottom: 0;
                }

                &:hover {
                    color: darken($color: $menuTextColor, $amount: 10%);
                }
            }
        }

        & .nav {
            display: flex;
            gap: 2rem;
            flex-direction: column;
            // text-align: center;

            @media ($tablet) {
                gap: 2.6rem;
            }

            @media ($laptop) {
                flex-direction: row;

            }

            &-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                // width: 60rem;
                gap: 2rem;

                @media ($tablet) {
                    align-items: flex-start;
                    gap: 2.6rem;

                }

                @media ($laptop) {
                    gap: 2.5rem;
                }

                &__item {
                    width: 15rem;
                    border-bottom: 0.1rem solid darken($color: $menuTextColor, $amount: 15%);
                    padding-bottom: 0.5rem;

                    @media ($tablet) {
                        width: min-content;
                        padding-bottom: 0;
                        border-bottom: none;

                    }

                    & a {
                        padding: 0;
                        color: $menuTextColor;
                        transition: 0.2s;

                        // color: $textColor;
                        // text-shadow: 0rem 0rem 0.3rem white;

                        &:hover {
                            color: darken($color: $menuTextColor, $amount: 25%);
                        }
                    }
                }
            }


        }
    }

    & .copyright {
        margin-top: 4rem;
        font-size: 1.4;
        color: darken($color: $menuTextColor, $amount: 10);
        text-align: center;

        @media ($tablet) {
            margin-top: 5rem;

        }

        @media ($laptop) {
            margin-top: 2rem;

        }
    }

}