.header {
    height: 80vh;
    min-height: 50rem;
    position: relative;
    // margin-bottom: 7rem;

    @media ($laptop) {
        height: 100vh;
    }
}

.top-header {
    padding: 3rem 0;
    position: relative;
    z-index: 1;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.55) 50%, rgba(255, 255, 255, 0) 100%);


    &__wrapper {

        display: flex;
        justify-content: center;
        position: relative;

        @media ($laptop) {
            display: block;
        }


    }

    &__icon-menu {
        width: 5rem;
        height: 5rem;
        background-image: url('../icons/burger-menu.svg');
        background-size: 100%;
        transition: 0.3s;

        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 1;

        &:hover {
            cursor: pointer;
            filter: saturate(5);
            transform: scale(1.1);
        }

        @media ($laptop) {
            display: none;
        }
    }

}