.products {
    padding-top: 4rem;

    &__info {
        max-width: 80rem;
        margin: 0 auto;
        text-align: center;
    }

    &__content {
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 3rem;

        @media ($tablet) {
            flex-direction: row;
        }


    }

    &__line {
        position: relative;

        @media ($tablet) {
            position: static;
            display: flex;
            align-items: center;
            gap: 3rem;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }

    }

    &__item {
        width: 30rem;
        height: 20rem;

        @media ($mobileM) {
            width: 35rem;
            height: 25rem;
        }

        @media ($mobileL) {
            width: 40rem;
            height: 27rem;
        }

        @media ($tablet) {
            width: 35rem;
            height: 25rem;
        }

        @media ($laptop) {
            width: 45rem;
            height: 30rem;
        }

        &_image {
            @extend %img;
            transition: transform 0.25s linear;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s linear;
            }


            &-cont {
                // height: 100%;
                border-radius: 3.5rem;
                box-shadow: 0 1rem 2rem #b1b1b1;
                overflow: hidden;

                @media ($tablet) {
                    border-radius: 4rem;
                    box-shadow: 1rem 1rem 2rem #b1b1b1;
                }
            }
        }

        &_info {
            // width: 100%;
            color: $menuTextColor;
            // text-shadow: 0px 0px 3px $menuTextColor;
            font-weight: 700;
            // -webkit-text-stroke: 0.1rem $menuTextColor;
            -webkit-text-stroke: 0.06rem $textColor;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 5%;
            border-radius: 3.5rem;
            // background: linear-gradient(180deg, rgba(252, 95, 95, 0.2) 0%, rgba(252, 95, 95, 0.5) 50%, rgba(252, 95, 95, 0.2) 100%);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 15%, rgba(255, 255, 255, 0) 35%);

            // background: rgba(48, 48, 48, 0.4) 50%;


            @media ($tablet) {
                position: static;
                display: block;
                background: none;
                border-radius: 4rem;
                color: darken($color: $bgColor, $amount: 7);
                -webkit-text-stroke: unset;
                padding-bottom: 0;

                // height: 0;
            }
        }

    }

}