.products {
    position: relative;

    &__floats {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        opacity: 0.5;

        @media ($tablet) {
            opacity: 0.7;
        }

        @media ($laptop) {
            opacity: 0.9;
            opacity: 1;
        }
    }


    &__float {
        position: absolute;
        z-index: -1;

        &_1 {
            top: -10rem;
            left: 0;
            // // rotate: 235deg; // should not use rotate here!! - because rellax.js translates tis element - and if we rotate before translating, the translation will be along the new axis of rotation!
        }

        &_2 {
            top: 50rem;
            right: 2vw;
        }

        &_3 {
            top: 115rem;
            left: 3vw;
        }

        &_4 {
            top: 145rem;
            right: 3vw;
        }
    }

    &__circle {
        width: 20rem;
        height: 20rem;
        background-color: crimson;
        // border-radius: 50%;

        &_1 {
            background: url('../img/floats/u-sausage.png') no-repeat;
            background-position: center;
            background-size: 70%;
            // transform: rotate(235deg); // don't work due conflict with parallax.js
            rotate: 235deg; // works fine with outer libraries (like), that specify inline transform style
        }

        &_2 {
            background: url('../img/floats/sausages-cartoon.png') no-repeat;
            background-position: center;
            background-size: 100%;
            rotate: -45deg;


        }

        &_3 {
            background: url('../img/floats/sausages-cartoon.png') no-repeat;
            background-position: center;
            background-size: 100%;
            rotate: 15deg;

        }

        &_4 {
            background: url('../img/floats/sausage-real-slice.png') no-repeat;
            background-position: center;
            background-size: 70%;
            rotate: 45deg;
        }

    }
}