.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.slider__container {
    width: 100%;
    height: 100%;
}

.slider__img {
    @extend %img;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}