.whereToBuy {
    padding: 3rem 0 5rem;
    background-color: transparentize($color: $bgColor, $amount: 0.9);

    // &__subtitle {
    //     margin-bottom: 4rem;
    // }

    &__cards {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        gap: 3rem;
        flex-direction: column;

        @media ($laptopM) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__card {
        flex-shrink: 0;
        width: 30.6rem;
        font-size: 1.55rem;
        border: 0.1rem solid lighten($color: $textColor, $amount: 15%);
        padding: 2rem;
        background-color: $white;
        transition: 0.3s;
        // border-radius: 0.5rem;

        @media ($tablet) {
            width: 35rem;
            font-size: 1.8rem;

            &:hover {
                transform: scale(1.05);
            }
        }

        &__icon {
            text-align: center;
            font-size: 5rem;
            margin-bottom: 2rem;
        }

        &__address {
            margin-bottom: 1rem;
        }

    }

    &__btn {
        display: block;
        width: fit-content;
        padding: 1.2rem 2.4rem;
        background-color: darken($color: $bgColor, $amount: 7);
        margin: 4rem auto 0;
        color: $white;
        font-size: 1.8rem;
        transition: 0.2s;

        &:hover {
            background-color: darken($color: $bgColor, $amount: 10);
        }
    }

}