@import './header';
@import './about';
@import './products';

@import './footer';

.wrapper {
    max-width: 120rem;
    width: 96%;
    margin: 0 auto;
}

h2 {
    @include h2();
}

h3 {
    @include h3();
}