@font-face {
    font-family: $mainFont;
    src: url(..);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: $mainFont;
    src: url(..);
    font-style: normal;
    font-weight: 700;
}