@mixin h1($_color: $titleColor) {
    font-family: $titleFont;
    font-size: 6rem;
    color: $_color;
}

@mixin h2($_color: lighten($color: $bgColor, $amount: 20)) {
    font-family: $mainFont;
    font-size: 4rem;
    color: $_color;
    text-align: center;
    margin: 2rem 0;
}

@mixin h3($_color: $bgColor) {
    font-family: $mainFont;
    font-size: 3rem;
    color: $_color;
    text-align: center;
    margin: 2rem 0;
}


// @mixin p1($_color: ) {}

// @mixin p2($_color: ) {}

%img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}