@mixin h1($_color: $logoColor) {
    font-family: $titleFont;
    font-size: 4rem;
    color: $_color;

    @media ($tablet) {
        font-size: 6rem;
    }

}

@mixin h2($_color: darken($color: $bgColor, $amount: 10)) {
    font-family: $mainFont;
    font-size: 4rem;
    color: $_color;
    text-align: center;
    margin: 2rem 0;
}

@mixin h3($_color: darken($color: $bgColor, $amount: 8)) {

    font-family: $mainFont;
    font-size: 3rem;
    color: $_color;
    text-align: center;
    font-weight: 500;

    // margin: 2rem 0;
    @media (laptop) {
        font-size: 3rem;

    }

}


// @mixin p1($_color: ) {}

// @mixin p2($_color: ) {}

%img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}