//colors
$logoColor: #00195e;
$textColor: #861200;
$menuTextColor: #fddedb;
$white: #fff;
$black: #000;
$bgColor: rgb(225, 13, 13);
// $borderColor: ;
// $inputColor: ;

// fonts
$titleFont: 'Times New Roman', Times, serif;
$mainFont: Arial, sans-serif;

$htmlFontSize: 10px;

// displays 
$mobileM: 'min-width: 375px';
$mobileL: 'min-width: 425px';
$tablet: 'min-width: 768px';
$laptop: 'min-width: 1024px';
// $custom1: 'min-width: 1160px';
$notebook: 'min-width: 1280px';
$laptopL: 'min-width: 1440px';
$fullHD: 'min-width: 1920px';


//shadows